/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* theme_blue */
#header {
  background: #137E9E;
  padding: 5px 15px 15px;
}
#top-menu{
  background: #095A79;
  padding: 3px 10px;
}
#header h1{
    font-size: 1.8em;
}
h2 {
    font-size: 18px;
}
#main-menu li a:hover {background:#fff; color:#202030;}
#main-menu li a.selected, #main-menu li a.selected:hover {background:#fff; color:#202030;}
#main-menu li a.new-object {background-color: #fff; color: #202030;}
#main-menu li a.lychee-menu:hover{border-top:solid 2px #f00;}
#main-menu li a.lychee-menu.selected, #main-menu li a.lychee-menu.selected:hover {border-top:solid 2px #f00;}
#main-menu .menu-children {
    border-right: 1px solid #137E9E;
    border-bottom: 1px solid #137E9E;
    border-left: 1px solid #137E9E;
}
#main-menu .menu-children li a:hover {color: #fff; background-color: #1bacd8;}
#project-jump .drdn-items>a:hover {background-color:#1bacd8; color:#fff !important;}
#content {
    padding-top: 10px;
}

/* lychee-icon_color */
.lychee-top-menu:before{
  content: url('../images/lychee_palered_icon.svg')!important;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.lychee-menu:before {
  content: url('../images/lychee_palered_icon.svg')!important;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.lychee-menu.selected:before {
  content: url('../images/lychee_red_icon.svg')!important;
}